#Discussion 1

Develop a Python function inputRecord(dataBase, group, id, score) for TAs to enter one record, where dataBase is the database implemented by your data structure, group is a string representing a group name, id is a student’s id number (positive integers ranging from 1 to 40), and score is the grade of the student.

In [ ]:
database = {
    'FE1': [45, 75, 25, 65],
    'FE2': [75, 40, 70, 80],
}

group = 'FE1'

id = 3

def inputRecord(database, group, id, score):
  database[group][id-1] = score

In [ ]:
inputRecord(database, group, id, 69)

In [ ]:
database

{'FE1': [45, 75, 69, 65], 'FE2': [75, 40, 70, 80]}

# Discussion 2
Develop a Python function query(dataBase, group, id) for TAs to get the score of a student in a lab group, where dataBase is the database implemented by your data structure, group is a string representing a group name, and id is the student’s id. This function should return the score.

In [ ]:
def query(database, group, id):
  return database[group][id-1]

In [ ]:
query(database, group, id)

69

# Discussion 3
Develop a Python function listGrades(dataBase, group) for TAs to get all the student grades in a group, where dataBase is the database implemented by your data structure and group is a string representing a group name. This function should return a list of grades in the group.

In [ ]:
def listGrades(database, group):
  return database[group]

In [ ]:
listGrades(database,group)

[45, 75, 69, 65]

# Discussion 4
Develop a Python function maxGrade(dataBase, group) for TAs to get the highest grade in a group, where dataBase is the database implemented by your data structure and group is a string representing a group name. This function should return the highest grade.

In [ ]:
def maxGrade(database, group):
  return max(database[group])

In [ ]:
maxGrade(database,group)

75

In [ ]:
def listNames(database):
  return list(database.keys())

def menu():
  database = {
    'FE1': [45, 75, 25, 65],
    'FE2': [75, 40, 70, 80],
  }
  option = input('''
  Welcome to the grading system! Please enter your option:
  1: Input Record
  2: Query a student
  3: List grades in a group
  4: Get max grade in a group
  5: List all group names
  6: Exit
  ''')
  if option.isnumeric() and  0 < int(option) < 7:
    if int(option) == 1:
      group = input("Please enter group ")
      id = int(input("Please enter id "))
      score = input("Please enter score ")
      inputRecord(database, group, id, score)
    elif int(option) == 2:
      group = input("Please enter group ")
      id = int(input("Please enter id "))
      print(query(database, group, id))
    elif int(option) == 3:
      group = input("Please enter group ")
      print(listGrades(database, group))
    elif int(option) == 4:
      group = input("Please enter group ")
      print(maxGrade(database, group))
    elif int(option) == 5:
      print(listNames(database))
    print('Goodbye.')
  else:
    print('Please enter a number from 1 to 6. Goodbye.')

menu()

  Welcome to the grading system! Please enter your option:
  1: Input Record
  2: Query a student
  3: List grades in a group
  4: Get max grade in a group
  5: List all group names
  6: Exit
  3
Please enter groupFE1
[45, 75, 25, 65]
Goodbye.